<h1 class="head">Burgers!</h1>

<h2 class="head">BurgerTime!</h2>

<img id="pic" src="assets/img/burgerpic.png">





<h2 class="head"> Add any burger you want</h2>

<form class="create-form"  method="POST">

  <div class="form-group">
    <label for="ca">Burger: </label>
    <input type="text"  id="box" name="burger_name">
  </div>

  

  <button type="submit">Add da Burger</button>


  
</form>
