<h1 class="head">Burgers!</h1>

<h2 class="head">BurgerTime!</h2>

<img id="pic" src="assets/img/burgerpic.png">


 <div class="row">
    <div class="col">
     {{#each burgers}}
 {{#unless devoured }}
 <li >
{{this.id}}
{{this.burger_name}}
 </li>
 {{/unless}}
 {{/each}}
    </div>
    <div class="col-2">
      {{!-- 2 of 3 (wider) --}}
    </div>
    <div class="col">
    
  {{#each burgers}}
    {{#if devoured}}
    <ul >
      {{this.id}}
      {{this.burger_name}}
      </ul>
    {{/if}}
  {{/each}}

    </div>
  </div>
</div>





<h2 class="head"> Add any burger you want</h2>

<form class="create-form" >

  <div class="form-group">
    <label for="ca">Burger: </label>
    <input type="text"  id="box" name="burger_name">
  </div>

  

  <button type="submit">Place the order</button>


  
</form>
