body{
  background-color: coral;
}
.form-group{
  text-align: center;
  height:33px;
}

button{
  margin:auto;
  display:block;
  height:25px;
}
input{
  height: 25px;
}


li,ul {
    padding: 5px;
    margin: 5px;
    background: #baff00;
    width: 69%;
  }
  .colum{

    overflow: auto;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
.head {
  text-align: center;
}  
#pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}